.app {
  background-color: #454545;
  color: white;
  height: 100vh;
}

.content {
  width: 100%;
  margin: auto;
}

.title {
  height: auto;
  /* background-color: #932134; */
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.title-header {
  margin: 0;
}

.title-subheader {

}
.question {
  font-size: 20px;
}

.answer-container {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px 0px;
  background-color: inherit;
  border: 3px solid white;
  color: white;
  border-radius: 5px;
}

.button:hover {
  background-color: #656565
}

.button:active {
  background-color: #707070
}

.button:disabled {
  color: #707070;
  border-color: #707070;
}

.button-correct{
  background-color: green;
}


.button-correct:disabled {
  background-color: green;
}

@media screen and (min-width: 700px) {
  .content {
    width: 700px
  }
}